/* ============================================================================================================================================================================ */

/* Section carosel accueil et carteMenu*/

/* ============================================================================================================================================================================ */


.section-carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin-top: 1rem;
}

.swiper{
    width: 80%;
    height: 70vh;
    border-radius: 40px;
}

.swiper-menu-detail{
    width: 95% !important;
    height: 80vh !important;
}

.swiper-slide{
    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 40px;
}



.swiper-slide .img-wrapper{
    width: 100%;
    height: 100%;
    transform: scale(1.3);
    transition: 0.5s;
}

.swiper-slide-active .img-wrapper{
    transform: scale(1);
}

.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    filter: grayscale(1);
}

.swiper-slide-active img{
    filter: grayscale(0);
}

.swiper-slide p{
    font-family: "Manrope" sans-serif;
    z-index: 2;
    position: absolute;
    width: 80%;
    left: 45px;
    top: 15px;
    color: var(--texte);
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 2px;
    transition: 0.3s;
    user-select: none;
}

.swiper-slide-active p{
    color: var(--texte);
    background-color: var(--fond-carte);
    padding: 0.3rem;
    border-radius: 8px;
    text-align: center;
}

.fa-caret-left, .fa-caret-right{
    font-size: 4rem;
    color: #D4A853;
}

@media (max-width: 1400px){
    .swiper-slide p {
        font-size: 1.2rem;
    }
}


@media (max-width: 1199.99px){
    .swiper-menu-detail{
        height: 72vh !important;
    }

    
}

@media (max-width: 767.98px){
    .swiper{
        height: 60vh;
    }

    .section-carousel{
        height: 60vh;
    }

    .swiper-menu-detail{
        width: 100%;
    }
}