body{
    background-color: var(--fond-plus-clair);
}
/* Message pour tous les formulaires */
.error-message{
    display: none;
}
/* forgotPassword.php , login.php , register.php , resetPassword.php , avisForm.php , commandeForm.php , updateCommande.php , sendMessage.php , annulerCommandeEmploye.php , createMenu.php , createPlat.php , updateMenu.php , updatePlat.php , editProfile.php  */
.form-contact{
    margin-bottom: 5rem;
    width: 30%;
    border-radius: 8px;
    background-color: var(--fond-carte);
    color:var(--texte);
    
}

.form-contact h3{
    background-color: var(--bleu-moyen);
    color: var(--fond-plus-clair);
    border-radius: 8px 8px 0 0 ;
}

.form-contact , .form-horaire{
    box-shadow:var(--shadow);
}

.form-contact a{
    color: var(--texte);
    transition: transform 0.3s ease ;
}

.form-contact a:hover{
    color: var(--bs-secondary);
    transform: scale(1.1);
}

.display{
    align-items: center;
}

/* changerHoraire.php */
.form-horaire{
    margin-bottom: 5rem;
    width: 30%;
    border-radius: 8px;
    background-color: var(--fond-carte);
    color:var(--texte);
}

table{
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden
}
th:first-child { border-radius: 8px 0 0 0; }
th:last-child { border-radius: 0 8px 0 0; }
tr:last-child td:first-child { border-radius: 0 0 0 8px; }
tr:last-child td:last-child { border-radius: 0 0 8px 0; }

.form-horaire p{
    margin-bottom: 0;
    margin-top: 1rem;
    background-color: var(--bleu-moyen);
    padding: 0.3rem;
    border-radius: 8px;
    color: var(--fond-plus-clair);
}

.form-horaire input {
    margin-right: 4rem;
}

thead,tbody,td, th{
    border: 1px solid var(--texte);
    padding: 0.5rem;
}

/* ====================================================================================================================================================================================================================================================================================================================================================== ====================================================================================================================================================================================================================================================================================================================================================== */

/* Commandes vue du formulaire */

/* Affichage du menu choisi */
.menu-choisi{
    margin-bottom: 5rem;
    border: 1px solid var(--bs-secondary);
    
    border-radius: 8px;
    background-color: var(--bleu-tres-fonce);
    color:var(--fond-plus-clair);
    
    padding: 3rem;
}

.carte-menu-commande{
    background-color: var(--fond-carte);
    color: var(--texte);
    border-radius: 8px;
    padding: 3rem;
    border: 1px solid var(--texte);
    width: 40%;
    max-height: 43rem;
}

.texte-carte-commande{
    width: 80%;
    margin: auto;
    border-left: 2px solid var(--bs-secondary);
    background-color: var(--bordure);
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    
}

.plats p ,menu-choisi h5, .prix-menu p {
    margin-bottom: 0;
}

.prix-menu :nth-child(2){
    color: var(--dore);
}

.theme-carte{
    background-color: var(--bleu-nuit);
    padding: 0.3rem;
    color: var(--fond-carte);
    width: 8rem;
    border-radius: 8px;
}

.fa-square , .fa-circle , .fa-diamond{
    color: var(--bs-secondary);
}

.plats{
    margin-bottom: 1rem;
    margin-left: 3.5rem;
    background-color: var(--bleu-moyen);
    color: var(--fond-carte);
    border-radius: 8px;
    padding: 2rem;
}

.conditions{
    border-left: 2px solid var(--bs-secondary);
    border-radius: 8px;
    background-color: var(--dore-tres-clair);
    width: 80%;
    margin: auto;
    margin-bottom: 3rem;
}

.texte-carte-commande, .plats , .theme-carte{
    box-shadow:var(--shadow);
}

/*  editProfile.php  pour btn-annuler , le reste est général */
form input ,form textarea , button , select, .btn-annuler{
    border-radius: 5px;
}

form input{
    margin:auto;
}

/* createMenu.php createPlat */
.input-img{
    width: 21rem;
}

/* createPlat.php , updatePlat.php */
.check-allergene{
    width: 71%;
}

.check-allergene input{
    margin-right: 2rem;
}

.cadre-input{
    border-radius: 8px;
    padding: 0.5rem;
}

/* annulerCommandeEmploye.php */
.texte-annule{
    height: 40%;
}

/* validerAvis.php */
.container-avis{
    background-color: var(--fond-carte);
    width: 80%;
    margin: auto;
    border-radius: 8px;
}

/* editProfile.php  */
.btn-annuler{
    padding-top: 0.5rem;
}

button , .btn-annuler{
    width: 11rem;
    height: 2.75rem;
    background-color: var(--bleu-moyen);
    color: var(--bs-secondary) !important;
    border: 1px solid var(--bs-secondary);
}

button:hover , .btn-annuler:hover{
    color: var(--bleu-nuit) !important;
    background-color: var(--bs-secondary);
}

/* Général */
form input[type="text"] , form input[type="password"] , form input[type="email"] , form textarea ,form input[type='number'], form input[type='date'] , form input[type='time']{
    width: 55%;
}

form textarea{
    height: 10rem;
}

input:focus-visible , textarea:focus-visible {
    outline: none;
}

input:focus , textarea:focus{
    border: 2px solid var(--bs-secondary) !important;
}

textarea{
    resize: none;
}

/* Annuler un formulaire */
.annuler{
    color: var(--dore) !important;
    display: block;
    width: 30%;
    margin: auto;
}

.annuler:hover{
    transform: scale(1.3) !important;
    transition: 0.5s ease-in-out !important;
}


/* register.php */
.texte-check, .texte-check a{
    font-size: 0.9rem;
}

.texte-check a{
    text-decoration: underline;
}

/* avisUpdate.php */

.div-etoiles{
    display: none;
}


/* scroll bar custom */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--bs-primary);
}

::-webkit-scrollbar-thumb {
    background: var(--bs-secondary);
    border-radius: 4px;
}
/* ================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================== Respnosive Mobile*/
/* ==================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================  */

@media (max-width: 767.98px){
    .form-contact{
        width: 80%;
    }

    form input[type="text"] , form input[type="password"] , form input[type="email"] , form textarea{
        width: 65%;
    }
}