/* =================================================================================================================================================================================== */

/* Header */


/* ====================================================================================================================================================================================================================================================================================================================================================== ====================================================================================================================================================================================================================================================================================================================================================== */

header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
}

.dropdown{
        display: none;
    }



.titre{
    font-family: var(--font-logo);
    font-size: 2.25rem;
    margin: 0.5rem 0 0 1rem ;
}

.lien-header{
    width: 25%;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.lien-header a{
    text-decoration: none;
    color:var(--fond-plus-clair) ;
    font-size: 1.2rem;
}

.lien-header a:hover{
    color: var(--dore);
}

.auth{
    width: 30%;
    justify-content: space-between;
    margin: 1rem 1rem ;
}

.btn-largeur{
    width: 11rem;
    text-align: center;
}

.ancre-auth{
    border : 1px solid;
    padding: 0.5rem;
    border-radius: 8px;
}

.ancre-auth:hover{
    background-color:var(--dore) ;
    color: var(--bleu-nuit) !important; 
}



/* =================================================================================================================================================================================== */

/* Footer */


/* ====================================================================================================================================================================================================================================================================================================================================================== ====================================================================================================================================================================================================================================================================================================================================================== */

footer{
    background-color: var(--bleu-nuit);
    color: var(--fond-plus-clair);
    
    justify-content: space-between;
    padding: 2rem;
}

footer i{
    color: var(--dore);
}

footer i:hover , .mentions a:hover{
    color: var(--dore-clair);
}

.horaire{
    font-size: 1rem;
    margin: 0;
}

.logo{
    width: 2rem;
    height: 2rem;
}

.fa-at,.fa-phone{
    margin-right: 0.5rem;
}

.reseaux{
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

.reseaux i{
    font-size: 2rem;
}

.mentions,.coordonnees{
    flex-direction: column;
    align-items: center;
}

.mentions a{
    color: var(--dore);
}

@media (max-width: 767.98px){

    /* Header  */

    .titre{
        font-size: 1.3rem;
        /* width: 90%; */
        margin: 0.5rem 0 0 0.2rem;
    }

    footer{
        flex-direction: column;
    }

    footer p{
        font-size:0.8rem ;
    }

    .liste-horaire{
        text-align: center;
        margin-bottom: 2rem;
    }

    .horaire{
        font-size: 0.8rem;
    }

    .reseaux{
        width: 100%;
        justify-content:space-around ;
    }

    .texte p, .carte-avis p{
        font-size: 0.9rem;
    }

    .menu-restau{
        margin-right: 1rem !important;
    }

    .menu-restau button{
        width: 2.5rem !important;
        height: 2.5rem !important;
    }

    .lien-header , .auth{
        width: 0rem !important;
    }
}

@media(max-width: 1199.9px){
    footer{
        padding: 1rem !important;
    }

    footer p{
        font-size: 0.9rem !important;
    }

    .lien-header{
        width: 32%;
    }
}

@media(max-width: 991.9px){
    .dropdown{
        display: block;
        background-color: var(--bleu-nuit);
        margin: auto;
    }
    .lien-header li, .ancre-auth  {
        display: none;
    }

    .dropdown .btn ,  .dropdown .show{
        color: var(--dore) !important;
        border: 1px solid var(--dore) !important;
    }

    .dropdown-menu{
        background-color: var(--bleu-moyen);
    }

    .dropdown-item{
        color: var(--dore) !important;
    }

    .titre{
        width: 90%;
        font-size: 1.4rem;
    }

    .img-carte1, .img-carte2{
        height: 75%;
    }
}

@media (max-width: 1199.9px){
    .ancre-auth{
        padding: 0.2rem !important;
        width: 8rem !important;
        font-size: 0.9rem !important;
    }

}

@media  (max-width: 1400px) {
.ancre-auth{
        padding: 0.4rem;
        width: 10rem ;
    }
}